
header {
  display: flex;
  align-items: baseline;
}

header h1 {
  flex: 3;
}

header address {
  flex: 1;
}

h1 {
	font-size: 24px
}
h2 {
	font-size: 18px
}

.intro small {
	font-size: 16px;
}
.intro ul {
	list-style: none;
}
.intro li {
	display: inline;
}
.intro li ~ li::before {
  content: ', ';
}

.position h2 {
  display: flex;
}

.position h2 div {
  display: inline-block;
  flex: 1;
}

.freelance .company {
  flex: 2;
}

.skills .group {
  display: inline-block;
  vertical-align: top;
}

.academic td {
  padding-right: 32px;
}
